[submodule "themes/story"]
	path = themes/story
	url = https://github.com/caressofsteel/hugo-story.git
[submodule "themes/twenty-twenty-hugo"]
	path = themes/twenty-twenty-hugo
	url = https://github.com/themefisher/twenty-twenty-hugo.git
