
a { 
	color: #e2c3cc; 
}

a:hover {
    color: #f5e1e1;
    text-decoration: underline; 
}

.button {
	background: #192a55; 
}

.main-menu ul li a {
	color: #192a55;
}	

.overview, .sub-footer {
	background: #f5e1e1;
}

.docs-menu ul li a:hover {
	color: #6e407f;
}